# Ignore Mac system files
.DS_Store

# Ignore compiled cache
__pycache__/

# Ignore CMake build artifacts
cpp/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Ignore compiled shared libraries
*.so
*.dylib
*.dll
